assignment-2.txt
[{"id":"e3f392d5.28f74","type":"cpu","z":"fc4471d2.98f98","name":"","msgCore":true,"msgOverall":false,"x":94,"y":53,"wires":[["e4fdaf88.1d0bf","3ddc90e8.42d32","19303251.230b9e"]]},{"id":"998c2c0c.366ab","type":"inject","z":"fc4471d2.98f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"0","x":110,"y":249,"wires":[["a443c700.26edb8"]]},{"id":"e4fdaf88.1d0bf","type":"ui_chart","z":"fc4471d2.98f98","name":"","group":"6549cfdb.d675b","order":0,"width":0,"height":0,"label":"Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":376,"y":50,"wires":[[],[]]},{"id":"1260013a.90bfaf","type":"ui_gauge","z":"fc4471d2.98f98","name":"","group":"3693db60.f8c294","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU 1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574,"y":224,"wires":[]},{"id":"da15861f.070178","type":"ui_gauge","z":"fc4471d2.98f98","name":"","group":"3693db60.f8c294","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":551,"y":265,"wires":[]},{"id":"5b5e6702.84d348","type":"ui_gauge","z":"fc4471d2.98f98","name":"","group":"3693db60.f8c294","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU 3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":551,"y":321,"wires":[]},{"id":"b68a8e4.2aa847","type":"ui_gauge","z":"fc4471d2.98f98","name":"","group":"3693db60.f8c294","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU 4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":552,"y":380,"wires":[]},{"id":"19303251.230b9e","type":"switch","z":"fc4471d2.98f98","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"core_1","vt":"str"},{"t":"eq","v":"core_2","vt":"str"},{"t":"eq","v":"core_3","vt":"str"},{"t":"eq","v":"core_4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":369,"y":268,"wires":[["1260013a.90bfaf"],["da15861f.070178"],["5b5e6702.84d348"],["b68a8e4.2aa847"]]},{"id":"41089960.65a4b8","type":"ui_toast","z":"fc4471d2.98f98","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":626,"y":128,"wires":[]},{"id":"a443c700.26edb8","type":"ui_switch","z":"fc4471d2.98f98","name":"","label":"switch","group":"825f9192.23d35","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":125,"y":178,"wires":[["c427ea4f.837c88"]]},{"id":"95943477.3bdf08","type":"template","z":"fc4471d2.98f98","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : CPU {{topic}} is {{payload}}%","output":"str","x":426,"y":129,"wires":[["41089960.65a4b8"]]},{"id":"3ddc90e8.42d32","type":"switch","z":"fc4471d2.98f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":353,"y":178,"wires":[["95943477.3bdf08"]]},{"id":"c427ea4f.837c88","type":"function","z":"fc4471d2.98f98","name":"","func":"if( msg.payload === false ) {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":89,"y":97,"wires":[["e3f392d5.28f74"]]},{"id":"6549cfdb.d675b","type":"ui_group","z":"","name":"CPU Utilization","tab":"887c2e6d.dfcf5","order":2,"disp":true,"width":"8","collapse":false},{"id":"3693db60.f8c294","type":"ui_group","z":"","name":"CPU Gauges","tab":"887c2e6d.dfcf5","order":3,"disp":true,"width":"3","collapse":false},{"id":"825f9192.23d35","type":"ui_group","z":"","name":"CPU On/Off","tab":"887c2e6d.dfcf5","order":1,"disp":true,"width":"3","collapse":false},{"id":"887c2e6d.dfcf5","type":"ui_tab","z":"","name":"CPU","icon":"dashboard","order":1}]