assignment-1.txt
[{"id":"e1a85587.56bcb8","type":"inject","z":"fc4471d2.98f98","name":"solution4","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":305,"y":820,"wires":[["fe509385.89e4c"]]},{"id":"e9cf9538.f25c98","type":"inject","z":"fc4471d2.98f98","name":"solution1","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":305,"y":520,"wires":[["37da8c96.e56184"]]},{"id":"c14ba6cf.6aa6c8","type":"debug","z":"fc4471d2.98f98","name":"output1","active":true,"console":"false","complete":"payload","x":945,"y":520,"wires":[]},{"id":"8550c092.aabbb","type":"inject","z":"fc4471d2.98f98","name":"solution2","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":305,"y":620,"wires":[["dc8f9ddd.20a61"]]},{"id":"1ebaa92f.705557","type":"debug","z":"fc4471d2.98f98","name":"output2","active":true,"console":"false","complete":"payload","x":945,"y":620,"wires":[]},{"id":"f1e082d0.1b1c9","type":"inject","z":"fc4471d2.98f98","name":"solution3","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":305,"y":720,"wires":[["a4f7ae62.ecd09"]]},{"id":"e1232a1e.197d38","type":"debug","z":"fc4471d2.98f98","name":"output3","active":true,"console":"false","complete":"payload","x":945,"y":720,"wires":[]},{"id":"91ffd743.60fc68","type":"debug","z":"fc4471d2.98f98","name":"output4","active":true,"console":"false","complete":"payload","x":945,"y":820,"wires":[]},{"id":"bbb1c32.aa9f14","type":"comment","z":"fc4471d2.98f98","name":"Add solution for test 4 here","info":"","x":655,"y":800,"wires":[]},{"id":"d6048094.39a5e","type":"comment","z":"fc4471d2.98f98","name":"ADD YOUR SOLUTIONS HERE","info":"Implement your solutions to the test scenarios.  \n\nsolution 1 should be the solution to test 1, solution 2 for test 2, etc...  \n\n**Do not** alter the names of the input nodes, as the grader relies on the set values to grade your solution.\n\n","x":335,"y":460,"wires":[]},{"id":"37da8c96.e56184","type":"change","z":"fc4471d2.98f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":645.0000076293945,"y":511.25000762939453,"wires":[["c14ba6cf.6aa6c8"]]},{"id":"dc8f9ddd.20a61","type":"change","z":"fc4471d2.98f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join(\t   msg.payload.name & ' is ' & msg.payload.age & ' years old'\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":645.0000076293945,"y":620.0000095367432,"wires":[["1ebaa92f.705557"]]},{"id":"a4f7ae62.ecd09","type":"change","z":"fc4471d2.98f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t   name:'Age is '& age & ' and mail address is '& email\t\t\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":722.5,"wires":[["e1232a1e.197d38"]]},{"id":"fe509385.89e4c","type":"change","z":"fc4471d2.98f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload[0].name &' works for '& 'acmeA.inc' & ', '& msg.payload[1].name &' works for '& 'acmeB.inc' & ', '&msg.payload[2].name &' works for '& 'acmeC.inc'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":633.75,"y":832.5,"wires":[["91ffd743.60fc68"]]}]